<div class="video-container">
  <div class="column">
    <% @videos.each_with_index do |video,i| %>
      <article>
        <%= link_to image_tag(video["thumbnail_small"]), "#myModal", {:data =>{:toggle=>"modal"}, :class =>video["id"]} %>
        <div>
          <h4><%= video["title"] %></h4>
          <span>
            <%= video["description"] %>
            <%= link_to "Watch Video", "#myModal", {:data =>{:toggle=>"modal"}, :class =>video["id"]} %>
          </span>
        </div>
      </article>

      <% if (((i+1) % (@videos.size.to_f / 2.0).ceil) == 0) && (i+1 != @videos.size) %>
        </div> <!-- end column -->
        <div class="column">
      <% end %>
    <% end %>
  </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body">
          <iframe src="" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
</div>
